.background-header {
    background-image: url('../images/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/44WhHcz/footer-background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
}